html {
  font-size: 13.33333333vw;
}

@media (min-width: 560px) {
  html {
    font-size: 102.4px;
  }
}

@function rem($px) {
  @return $px / 100 * 1rem;
}

.rank-list {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 30;
  overflow: hidden;
  // transform: translate(-50%, -50%);
  // background: url(~@/assets/imgs/panelBgMid.png) no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  display: none;
  .header {
    position: relative;
    height: rem(80);
    font-size: rem(50);
    text-align: center;
    color: #fff;
    line-height: rem(80);
    background: palevioletred;
    .close {
      position: absolute;
      right: rem(20);
      top: 50%;
      transform: translateY(-50%);
      width: rem(40);
      height: rem(39);
      background: url(~@/assets/imgs/panelClose.png) no-repeat;
      background-size: 100%;
      cursor: pointer;
    }
  }
  @mixin dib {
    display: inline-block;
    vertical-align: top;
  }
  @mixin list-text {
    font-size: rem(40);
    line-height: rem(80);
  }
  .content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    .item {
      position: relative;
      padding: rem(10);
      font-size: 0;
      &:not(:last-child) {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 95%;
          height: rem(1);
          transform: translateX(-50%);
          background: rgba($color: #fff, $alpha: 0.5);
        }
      }
      span {
        margin-right: rem(30);
        color: tomato;
        @include list-text();
        @include dib;
      }
      img {
        width: rem(80);
        height: rem(80);
        border-radius: rem(4);
        @include dib;
      }
      .name {
        margin-left: rem(30);
        color: white;
        @include list-text();
        @include dib();
      }
      .num {
        float: right;
        margin-left: rem(30);
        color: tomato;
        @include list-text();
        @include dib();
      }
    }
  }
  .footer {
    position: relative;
    padding: rem(10);
    font-size: 0;
    background: rgba($color: #c4d20a, $alpha: 0.78);
    span {
      margin-right: rem(30);
      color: tomato;
      @include list-text();
      @include dib;
    }
    img {
      width: rem(80);
      height: rem(80);
      border-radius: rem(4);
      @include dib;
    }
    .name {
      margin-left: rem(30);
      color: white;
      @include list-text();
      @include dib();
    }
    .num {
      float: right;
      margin-left: rem(30);
      color: tomato;
      @include list-text();
      @include dib();
    }
  }
}

.loading {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: 90%;
  z-index: 30;
  transform: translate(-50%, -50%);
  p {
    font-size: rem(40);
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  .loading-contanier {
    position: relative;
    margin-top: rem(10);
    padding: rem(10);
    width: 95%;
    height: rem(40);
    border: rem(8) solid #fff;
    .item {
      position: absolute;
      height: calc(100% - 0.2rem);
      width: 0%;
      background: #fff;
    }
  }
}

.testtest {
  position: absolute;
  display: none;
  top: 20px;
  right: 30px;
  width: rem(100);
  padding: rem(5);
  font-size: rem(20);
  color: #fff;
  z-index: 30;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
}
